*{
    margin: 0px;
    padding: 0px;
}
.rectangulo1{
    background-color: rgb(255, 94, 94);
    margin-top: 10vh;
    margin-bottom: 75vh;
    margin-left: 30vw;
    margin-right: 30vw;
    height: 7vh;
    width: 30vw;
}
.cuadrado1
{
    background-color: rgb(59, 59, 59);
    margin-top: 10vh;
    margin-bottom: 75vh;
    margin-left: 30vw;
    margin-right: 25vw;
    height: 7vh;
    width: 5vw;
}
.buscador
{
    background-color: rgb(255, 255, 255);
    margin-top: 13vh;
    margin-bottom: 72vh;
    margin-left: 30vw;
    margin-right: 25vw;
    height: 4vh;
    width: 25vw;
}

